export(rfmc,rcfmc,imdeath,rdiff,simpleEuler,gillespie,discretise,gillespied,StepGillespie,simTs,simSample,simTimes,StepEulerSPN,StepCLE,StepPTS,StepFRM,StepEuler,stepLVc,StepODE,StepSDE,as.timedData,pfMLLik,normgibbs,metrop,mcmcSummary)
useDynLib(smfsb,stepLV)
